@font-face{
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");

    src: url("../fonts/Vazir.eot?#iefix") format('embedded-opentype'),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff")format("woff") ,
    url("../fonts/Vazir.ttf") format("truetype");
}

body{
    font-family:"Vazir" !important;
}
a{
    text-decoration: none;
}

nav{
    transition: all 0.6s;
    padding: 20px 0px ;
}
.header{
    background-color: white;
    box-shadow: 1px 2px 20px rgba(6, 35, 85, 0.1);
}
@media (max-width:992px){
    nav{
        background-color: white;
    }
}


.intro{
width: 100%;
height: 100vh;
background: url(../img/photo-1509624841974-19055d96ffcc.avif)  top center no-repeat;
background-size: cover;

}




.roww{
    z-index: 1;
}
.hover-grow{
    transition: all 0.5s;
}
.hover-grow:hover{
    transform: scale(1.1);
}

/* Abuot */
.content{
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

 /* counts  */
 .can i{
    font-size: 49px;
 }



 /* Services  */
 .services .service-box{
    box-shadow: 2px 2px 20px rgba(92, 20, 7, 0.08);
    padding: 60px 30px;
    text-align: center;
    border-radius: 5px;
    color: rgba(56, 13, 10, 0.603);
 }
 .fab{
    font-size: 50px;
 }

 .fab1{
    
    color: rgb(0, 217, 255);
    padding: 5px;
 }
 .fab2{
    
    color: rgb(0, 81, 255);
    padding: 5px;
 }
 .fab3{
    background-color: black;
    color: white;
    border-radius: 45px;
    width: 60px;
    height: 60px;
 }

 .box3:hover{
    color: white;
    background-color: rgb(212, 39, 39);

 }
.box3:hover span{
    color: white;
}
.box3:hover .bi{
    color: white;
}
.box3:hover {
    
    color:white;
    
}
.box3 .bi,a{
    color: rgb(194, 42, 15);
}


.box2:hover{
    color: white;
    background-color: rgb(219, 36, 36);
    
 }
 .box2:hover .fab2{
    color:white;
 }
.box2:hover span{
    color: white;
}
.box2:hover .bi{
    color: white;
}
.box2:hover {
    
    color:white;
    
}
.box2 .bi,a{
    color: rgb(194, 42, 15);
}


.box1,.box2,.box3{
border-bottom: 3px solid rgb(122, 22, 4);
transition: all 1s;
}
.box1:hover{
    color: white;
    background-color: rgb(219, 36, 36);
 }
 .box1:hover .fab1{
    color: white;
 }
.box1:hover span{
    color: white;
}
.box1:hover .bi{
    color: white;
}
.box1:hover {
    
    color:white;
    
}
.box1 .bi,a{
    color: rgb(194, 42, 15);
}



 .intro {
  position: relative; /* ✅ اضافه شد */
  width: 100%;
  height: 100vh;
  background: url(../img/photo-1509624841974-19055d96ffcc.avif) top center no-repeat;
  background-size: cover;
}

/* ✨ لایه شفاف رنگی روی بک‌گراند */
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 96, 96, 0.4);
  z-index: 1;
}

/* ✅ این باعث می‌شود متن و عکس روی لایه شفاف دیده شوند */
.intro .container {
  position: relative;
  z-index: 2;
}

.pricing .card {
  transition: all 0.3s ease;
}

.pricing .card:hover {
  transform: scale(1.1);
}


/* contact */
.contact .info-box{
    background-color: rgb(211, 60, 55);
    padding: 30px;
    color: white;
}

.contact .info-box i{
   font-size: 30px;
   line-height: 0;
   color: white;
}

.contact .info-box .cellphone{
  direction: ltr;
  text-align: right;
}

.contact-form{
     background-color: rgb(211, 60, 55);
    padding: 30px;
    color: white;
    height: 94%;
}

/* footer */
.bii{
    font-size: 17px;
    color: rgb(129, 111, 110);
}
.footer hr{
    width: 70%;
    height: 4px;
}

.lin a{
    color: rgb(12, 12, 11);
}
.lin i{
    font-size: 12px;
}






 

    h1.logo {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 4rem; /* سایز بزرگ برای هدر/لوگو */
      color: #e63946; /* رنگ اصلی ترندی (انار قرمز) */
      text-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* سایه ملایم برای جلوه سه‌بعدی */
      letter-spacing: 2px; /* فاصله حروف */
      transition: transform 0.3s, color 0.3s;
    }

    h1.logo:hover {
      color: #f1faee; /* تغییر رنگ هنگام هاور */
      transform: scale(1.1); /* بزرگ شدن کمی هنگام هاور */
      text-shadow: 4px 4px 10px rgba(0,0,0,0.3);
      cursor: pointer;
    }